/*
    Folha de estilo do site Merch Store
    @author Mário S. S. L. Portella
*/

/*Importação(Fonts)*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*Css reset*/
*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}
/*Layout*/
.cont{
    margin: 0 auto;
}

.Botao {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;
    background-color: #c00000;
    padding: 10px 30px;
    border: 2px solid #fff;
    border-radius: 25px
}
.Butao {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;
    background-color: #c00000;
    padding: 10px 20px;
    border-radius: 25px
}
/*Flex*/
.Flex{
    display: flex;
    justify-content: space-between;
}
.Flex2{
    display: flex;
    justify-content: space-around;
}

.Flex3 {
    display: flex;
    align-items: center;
}

.Flex4 {
    display: flex;
    flex-wrap: wrap;
}

.cartao {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 275px;
    height: 178px;
    background-color: #F7F8FA;
    border: 1px solid #a1a1a1;
    border-radius: 25px;
    text-align: center;
}


/*Smartphone Portrait*/

/*Topo*/
header {
    height: 60px;
    background-color: #000000;
}

#logo img {
    height: 80%;
    width: 80%;
}
#uc img {
    padding: 20px 3px 20px 3px;
    height: 45%;
    width: 45%;
}
#check {
    display: none;
}

#hamburguer {
    font-size: 3em;
    padding-right: 15px;
    color: #D50F27;
}

nav ul {
    list-style: none;
    background-color: #343638;
    height: 100vh;
    position: fixed;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.5s;
    margin-top: 0px;
}
#check:checked ~ ul {
    left: 0;
}

nav ul li {
    padding: 20px;
    border-bottom: 1px solid #a9a9a9;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 0, 0);
}


main {
    height: 75vh;
    background: url(img/Banner.png);
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main h1 {
    font-size: 2.5em;
}
main h2 {
    font-size: 1em;
    margin: 20px 0px 50px 0px;
}

#produtos {
    padding: 50px 0px;
    background-color: #000;
}

.h33 {
    padding: 2px;
    text-align: left;
    font-size: 1em;
    color: #1D293F;
}

.h21 {
    color: #0B254B;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}
.h32 {
    color: #5E6E89;
    text-align: center;
    font-size: 1em;
}

.p1 {
    padding: 0px 15px 0px 0px;
    color: #D50F27;
    text-align: right;
    font-size: 1em;
}
.centri {
padding: 0px auto 0px auto;
}

.sub {
    background-color: #fff;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#sobre {
    padding: 50px 0px;
    background-color: #585858;
}

.imagie {
    max-width: 100%;
}
.auto{
    width: auto;
    text-align: center;
    padding: 20px;
}
.h22 {
    color: #1D252C;
    text-align: left;
    font-size: 2em;
    font-weight: 700;
    padding: 5px 20px 5px 0px;
}
.h34 {
    color: #D50F27;
    text-align: left;
    font-size: 1em;
    padding: 5px 20px 40px 0px;
}
.h35 {
    color: #000000;
    text-align: left;
    font-size: 1em;
    padding: 2px 5px 2px 0px;
}
.h36 {
    color: #000000;
    text-align: left;
    font-size: 1em;
    padding: 2px 5px 20px 0px;
}
.h23 {
    color: #D50F27;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}
.h37 {
    color: #D50F27;
    text-align: center;
    font-size: 1em;
}
#Aproveite {
    padding: 50px 0px;
    background-color: #787878;
}
.h38 {
    color: #5E6E89;
    text-align: center;
    font-size: 1em;
}
#Pop {
    padding: 50px 0px;
    background-color: #554D5C;
}
.yy{
    display: none;
}
address {
    padding: 50px 0px;
    background: #272727;
    background-size: cover;
    background-position: center;
    color: #fff;
}
address a {
    color: #000;
    text-decoration: none;
}
address img {
    padding-top: 15px;
}
.gg {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.kk {
    display: flex;
    flex-direction: column;
}
.jj {
    display: flex;
    flex-direction: row;
}
.verm {
    color: #D50F27;
    font-size: 1em;
    font-weight: 700;
}
.branc{
    text-decoration: none;
    color: #fff;
    font-size: 1em;
}
/*Smartphone Landscape*/
@media (min-width: 576px){
    /*Layout*/
    .cont{
        max-width: 540px;
    }

    main h1, main h2 {
        text-shadow: #000 0.05em 0.05em 0.05em;
    }
}

/*Tablet Portrait*/
@media (min-width: 768px){
    /*Layout*/
    .cont{
        max-width: 720px;
    }
    
    main {
        height: 45vh;
    }

    main h1 {
        font-size: 5.5em;
    }


    main h2 {
        font-size: 2em;
    }


}


/*Tablet Landscape*/
@media (min-width: 992px){
    /*Layout*/
    .cont{
        max-width: 960px;
    }

    main {
        height: 70vh;

    }
}

/*Pc/Notebook*/
@media (min-width: 1200px){
    /*Layout*/
    .cont{
        max-width: 1140px;
    }

    header{
        height: 80px;
    }

    #logo img{
        height: 100%;
        width: 100%;   
    }
    
    
    label {
        display: none;
    }

    nav ul {
        position: static;
        height: auto;
        background-color: transparent;  
    }
    
    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a {
        color: #ffffff;
    }

    nav ul li a:hover {
        color: #c00000;
    }
    .odm {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .lina {
        display: flex;
        flex-direction: column;
        
    }
    .yy{
        display: inline;
    }

}
@media screen and (max-width:1199px){
    #mester {

        display: flex;
        flex-direction: row;
    }
    #logo {
        order: 2;
    }
    #ham {
        order: 1;
    }
    #uc {
        order: 3;
    }
    .odm {
        display: flex;
        flex-direction: row;
    }
    .od1{
        order: 1;
    }
    .od2{
        order: 2;
    }
    .od3{
        order: 3;
    }

}

body {
    background-color: #f4f4f4;
}
 